<%- include('partials/header') %>


<div class="centered">
  <div class="">
    <i class="fa fa-user-secret fa-5x" aria-hidden="true"></i>
    <h1 class="display-3">Itz_Secrets</h1>
    <p class="lead">Don't keep your secrets, share them anonymously!</p>
    <hr>
    <a class="example_f btn-lg" href="/register" role="button"><span>Register</span></a>
    <a class="example_f btn-lg" href="/login" role="button"><span>Login</span></a>
  </div>
</div>

<%- include('partials/footer') %>
