<%- include('partials/header') %>
<div class="container mt-5">
  <h1>New Member</h1>

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <input type="email" class="form-control" name="username" required placeholder="E-Mail" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" minlength="6" placeholder="password" required/>
            </div>
            <button class="button" type="submit" style="background-color: #BFD7EA;margin-bottom:10px"><span>Register</span></button>
          </form>
          <a href="/login" class="account button mt-4">Already Member<span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
        </div>
      </div>
    </div>

    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-google" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block btn-social btn-twitter" href="/auth/twitter" role="button">
            <i class="fab fa-twitter"></i>
            Sign Up with Twitter
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/header') %>
