<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Share Secret</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <style>
    body {
      background-image: url("image/submit_bg.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      color: white;
    }

    .flex-button {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
    }
    a span {
      color: black;
      background-color: white;
      padding: 10px;
      border-radius: 20px;
      margin: 10px;
    }
    a span:hover {
      background-color: black;
      color: white;
    }
  </style>
  <body>
    <div class="text-center mt-5">
      <div class="mt-5">
        <img width="100px" src="image/secret.png" alt="Secret" />
      </div>
      <form action="/submit" class="mt-3" method="POST">
        <div class="form-group mx-auto" style="width: 50vw;">
          <input
            type="text"
            class="form-control text-center"
            name="secret"
            placeholder="What's your secret?"
            required
            minlength="3"
          />
        </div>
        <div class="button btn">
          <button class="btn button btn-primary" type="submit">
            <span>Submit</span>
          </button>
        </div>
      </form>
    </div>
    <div class="flex-button mt-3 test-center container">
      <a class="btn button" href="/logout"><span>Log Out</span></a>
      <a class="btn button" href="/your"><span>Your Secret </span></a>
      <a class="btn button" href="/secrets"><span>Public Secret</span></a>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
